$font_primary: 'Noto Sans JP';
$font_secondary: 'Inter';
$color_light: #fff;
$color_primary_300: #FFCC21;
$color_primary_400: #FF963C;
$color_primary_500: #EA6C00;
$color_secondary: #8FE9D0;
$color_dark_600: #2E2E2E;
$color_dark_500: #414141;
$color_gray_400: #777777;
